[submodule "OmniaGit/odooplm"]
	path = OmniaGit/odooplm
	url = git@github.com:OmniaGit/odooplm.git
	branch = 13.0

[submodule "virginialepe/whatsapp_redirect"]
	path = virginialepe/whatsapp_redirect
	url = git@github.com:virginialepe/whatsapp_redirect.git
	branch = master

[submodule "hibou-io/hibou-odoo-suite"]
	path = hibou-io/hibou-odoo-suite
	url = git@github.com:hibou-io/hibou-odoo-suite.git
	branch = 13.0
